<appSettings>
	<add key="MailServer" value="dev-smtp.vidlyproject.com"/>
	<add key="FacebookAppId" value="2837127656484720"/>
	<add key="FacebookAppSecret" value="a865dd0aca1fee297f2d7416b991808d"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>